# Data structures

## Lists

* One-dimensional, variable-length, mutable sequence of Python objects creation:

    * using square brackets [ ]
    * by converting any sequence or iterator by invoking list()
    * [ ] = empty list

In [1]:
import numpy as np

In [2]:
a_list=[2,3,None,7]
a_list

[2, 3, None, 7]

In [4]:
b_list=a_list+a_list
b_list

[2, 3, None, 7, 2, 3, None, 7]

In [6]:
c_list=list([a_list,a_list])
c_list

[[2, 3, None, 7], [2, 3, None, 7]]

In [7]:
c_list[0][1]

3

* Adding and removing elements:
    * append(S) = add element S at the end
    * extend([ ] ) = append multiple elements
    * insert(N,S) = insert element S at position N
    * remove(S) = removes the first occurrence of S from the list
    * pop(N) = remove and return element at position N

In [12]:
a=['I','live','in']
a

['I', 'live', 'in']

In [13]:
a.append('Madrid')
a

['I', 'live', 'in', 'Madrid']

In [14]:
a=a+['since','1982']
a

['I', 'live', 'in', 'Madrid', 'since', '1982']

In [15]:
a.pop(2)
a.pop(2)
a

['I', 'live', 'since', '1982']

In [16]:
a.insert(2,'here')
a

['I', 'live', 'here', 'since', '1982']

In [17]:
a.remove('here')
a

['I', 'live', 'since', '1982']

In [18]:
'test' in a

False

In [19]:
a.extend(['in','Madrid'])
a

['I', 'live', 'since', '1982', 'in', 'Madrid']

* Insert is computationally expensive compared with append as references to subsequent elements have to be shifted internally to make room for the new element.
* List concatenation (with +) is a more expensive operation then extend() since a new list must be created and the objects copied over.

        everything = [ ]
        for chunk in list_of_lists: 
            everything.extend(chunk)

        everything = [ ]
        for chunk in list_of_lists:
            everything = everything + chunk
            
* Using extend to append elements to an existing list is preferable especially if you are building up a large list!!!
* reverse() = reverses objects of list in place
* sort (key=method, reverse=True/False) = in-place sorting based on key method

In [20]:
a=[7,2,5,1,3]
a

[7, 2, 5, 1, 3]

In [21]:
b=['Hello','small','helll','foxes','he','Man']
b

['Hello', 'small', 'helll', 'foxes', 'he', 'Man']

In [22]:
b.sort()
b

['Hello', 'Man', 'foxes', 'he', 'helll', 'small']

In [23]:
b.sort(key=str.lower)
b

['foxes', 'he', 'helll', 'Hello', 'Man', 'small']

In [25]:
b.sort(key=len,reverse=True)
b

['foxes', 'helll', 'Hello', 'small', 'Man', 'he']

In [26]:
b.sort(key=lambda x:x.count('l'))
b

['foxes', 'Man', 'he', 'Hello', 'small', 'helll']

* sorted (list, key=method, reverse=True/False) 
    * works on any iterable

In [27]:
c=sorted(b,key=lambda x:x.count('l'))
# devuelve un objeto función. Evalua el cuerpo de la función anónima hasta que no pueda evaluarlo más y va a 
#devolver esa función
c

['foxes', 'Man', 'he', 'Hello', 'small', 'helll']

### Exercise
Implementa una cola FIFO de letras: Escribe una función push(elemento, cola) que guarde un elemento en la cola. Escribe una función pop(elemento, cola) que extraiga el primer elemento en entrar y lo devuelva en mayúscula.

Demuéstrala transformando letras en mayúsculas.

In [84]:
def push(element, queue):
    queue.append(element)

def pop(queue):
    element = queue.pop(0)
    
    return element.upper()

queue = []
push('a', queue)
push('b', queue)
push('c', queue)
push('d', queue)
push('e', queue)
push('f', queue)
print(pop(queue))
print(pop(queue))

A
B

In [85]:
pop(queue)

'C'

Podemos escribir las funciones para que no tengan [_side effects_][1]. A esto se le llama funciones _puras_ y es uno de los conceptos centrales utilizados en la [_programación funcional_](https://en.wikipedia.org/wiki/Functional_programming#Pure_functions), con la que os familiarizaréis cuando lleguemos a Spark (como tarde).

[1]: https://en.wikipedia.org/wiki/Side_effect_(computer_science)

In [87]:
def push_pure(element, queue):
    queue = queue + [element]
    return queue

def pop_pure(queue):
    element = queue[0]
    temp_queue = queue[1:]
    return element.upper(), temp_queue

In [88]:
push(4,[1,2,3])

In [89]:
push_pure(4, [1,2,3])

[1, 2, 3, 4]

In [90]:
queue = []
queue_after_step_1 = push_pure('a', queue)
queue_after_step_2 = push_pure('b', queue_after_step_1)
queue_after_step_3 = push_pure('c', queue_after_step_2)
element1, queue_after_step_4 = pop_pure(queue_after_step_3)
pop_pure(queue_after_step_4)

('B', ['c'])

In [91]:
queue = []

push_pure('a', queue)
queue

[]

### Functions - Anonymous Functions
* or lambda functions
* simple functions consisting of a single statement, the result of which is the return value.
* defined using the lambda keyword, which has no meaning other than “we are declaring an anonymous function.”

In [30]:
def short_function(x):
    return x*2
equiv_anon=lambda x:x*2
print(short_function(2))
print(equiv_anon(2))

4
4

* They are especially convenient in data analysis because, there are many cases where data transformation functions will take functions as arguments (as we have seen in the previous slide).

In [34]:
def apply_to_list(some_list,f):
    return[f(x) for x in some_list]
ints=[4,0,1,5,6]
apply_to_list(ints,lambda x:x*2)

[8, 0, 2, 10, 12]

### Functions - Are Objects
* function is used as argument to other function
* ops has a list of the operations to apply to a particular set of values

In [37]:
def add_one(value):
    return value+1

def double_value(value):
    return value*2

def add_three(value):
    return value+3

math_ops=[add_one,double_value,add_three]

def math_values(values,ops):
    result=[]
    for value in values:
        for function in ops:
            value=function(value)
        result.append(value)
    return result

k=[1,2,3]
math_values(k,math_ops)

[7, 9, 11]

* map is built in function which applies a function to a collection of some kind

In [40]:
k

[1, 2, 3]

In [92]:
#map usa una función a cada uno de los elementos de la lista. Toma la colección de objetos de la lista y le 
#aplica a cada uno de manera independiente la función
#map se llama funciones de orden superior -> Funciones que comen funciones. cogen elementos escalares y lo lleva a 
#operar con colecciones de esos elementos.
list(map(add_one,k))

[2, 3, 4]

## Tuples
* Lists and tuples are semantically similar as one-dimensional sequences of objects and thus can be used interchangeably in many functions
* tuple: one-dimensional, fixed-length, immutable sequence of Python objects (the objects CAN be mutable!!!) 
* creation:
    * with a comma-separated sequence of values
    * by converting any sequence or iterator by invoking tuple()
    * ( ) = empty tuple

In [43]:
tup=4,5,6
tup

(4, 5, 6)

In [44]:
tup=tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [45]:
tuple([4,0,2])

(4, 0, 2)

In [46]:
nested_tup=(4,5,6),(7,8),('A',8,'abcd')
nested_tup

((4, 5, 6), (7, 8), ('A', 8, 'abcd'))

* elements can be accessed with square brackets [ ] 
* sequences are 0-indexed

In [47]:
tup=tuple('string')
tup[0]

's'

In [48]:
tup[:3]

('s', 't', 'r')

In [49]:
tup[2:4]

('r', 'i')

In [50]:
tup[4:]

('n', 'g')

In [51]:
tup[1:5:2]

('t', 'i')

* In tuple it is not possible to modify the position of object
* But... the objects stored in a tuple may be mutable themselves, once created!!!

In [57]:
tup=tuple(['foo',[1,2],True])

In [53]:
tup[2]=False

TypeError: 'tuple' object does not support item assignment

In [54]:
tup[3]=123

TypeError: 'tuple' object does not support item assignment

In [58]:
tup[1].append(23)
tup[1].insert(1,14)
tup

('foo', [1, 14, 2, 23], True)

* Tuples can be concatenated using the + operator to produce longer tuples

In [59]:
tup=tuple(['foo',[1,2],True])
tup=tup+tuple([23,45])+tuple([[23,45]])+tuple('Askme')+tuple(['Answe'])
tup

('foo', [1, 2], True, 23, 45, [23, 45], 'A', 's', 'k', 'm', 'e', 'Answe')

In [60]:
tup+=tuple([True])
tup

('foo', [1, 2], True, 23, 45, [23, 45], 'A', 's', 'k', 'm', 'e', 'Answe', True)

* Multiplying a tuple by an integer, has the effect of concatenating together that many copies of the tuple.

In [61]:
tup=tuple(['foo',[1,2],True])
tup

('foo', [1, 2], True)

In [63]:
tup=tup*2
tup

('foo', [1, 2], True, 'foo', [1, 2], True)

* Be careful when creating tuples the objects themselves are not copied, only the references to them.
* What has happen to scalar types?

In [65]:
a=[1,2,3]
b=[23]
c=50
d=['Text']
e='a'
tup=tuple([a,b,c,d,e])
tup2=tup*2
print(tup)
print(tup2)

([1, 2, 3], [23], 50, ['Text'], 'a')
([1, 2, 3], [23], 50, ['Text'], 'a', [1, 2, 3], [23], 50, ['Text'], 'a')

In [66]:
a[0]=4
b.append(-23)
c=7
d[0]='yes'
e='aa5'
tup2

([4, 2, 3],
 [23, -23],
 50,
 ['yes'],
 'a',
 [4, 2, 3],
 [23, -23],
 50,
 ['yes'],
 'a')

* Unpacking tuples: Podemos asignar múltiples variables simultáneamente, pero tendrán que ser el mismo número que elementos tiene la tupla en cuestión, a no ser que utilicemos esta sintaxis para asignar el primer (o los primeros) elementos a variables una a una, y el resto de la tupla a otra variable:

In [67]:
tup=(4,5,6)
tup

(4, 5, 6)

In [68]:
a,b,c=tup
b

5

In [69]:
tup=4,5,(6,7)
tup

(4, 5, (6, 7))

In [70]:
a,b,(c,d)=tup
d

7

In [71]:
a,b,cd=tup
cd

(6, 7)

• Using this functionality it’s easy to swap variable names

In [72]:
a,b

(4, 5)

In [73]:
a,b=b,a
a,b

(5, 4)

* Methods :
    * index() = return first index of value
    * count() = counts the number of occurrences of a value

In [74]:
a=(1,2,2,2,3,4,2)
a

(1, 2, 2, 2, 3, 4, 2)

In [75]:
a.count(2)

4

In [76]:
a.index(2)

1

In [77]:
565 in a

False

In [78]:
b=('this','is','my','home')
b

('this', 'is', 'my', 'home')

In [79]:
b.count('i')

0

In [80]:
b.count('is')

1

In [81]:
b.count('isd')

0

In [82]:
b.index('isd')

ValueError: tuple.index(x): x not in tuple

## Enumerate
* It’s common when iterating over a sequence to want to keep track of the index of the current item
* enumerate() returns a sequence of (i, value) tuples

In [93]:
counter=0
for val in range(10,20):
    print(counter,val)
    counter+=1

0 10
1 11
2 12
3 13
4 14
5 15
6 16
7 17
8 18
9 19

In [94]:
for i, val in enumerate(range(10,20)):
    print(i,val)

0 10
1 11
2 12
3 13
4 14
5 15
6 16
7 17
8 18
9 19

* useful especially when constructing a dict
* reversed() = iterates over the elements of a sequence in reverse order

In [95]:
for i,val in enumerate(reversed(range(10,20))):
    print(i,val)

0 19
1 18
2 17
3 16
4 15
5 14
6 13
7 12
8 11
9 10

In [98]:
tup2
for i, element in enumerate(tup2):
    print("el elemento %s está en la posición %d" % (element, i))

el elemento [4, 2, 3] está en la posición 0
el elemento [23, -23] está en la posición 1
el elemento 50 está en la posición 2
el elemento ['yes'] está en la posición 3
el elemento a está en la posición 4
el elemento [4, 2, 3] está en la posición 5
el elemento [23, -23] está en la posición 6
el elemento 50 está en la posición 7
el elemento ['yes'] está en la posición 8
el elemento a está en la posición 9

In [106]:
# Cuando nos importa la posición de un elemento utilizamos enumerate que devuelve una lista de tuplas de dos elementos,
#su posición y el elemento en sí
list(enumerate(tup))

[(0, 4), (1, 5), (2, (6, 7))]

## Zip
* “pairs” up the elements of a number of lists,tuples, or other sequences, to create a list of tuples
* pairing is ended when the shortest sequence is exhausted
* returns a zip object which is in fact an iteretor

In [107]:
#zip: coge m secuencias de m elementos, asocia cada elemento de una secuencia con el 
#elemento de la otra secuencia
seq1=1,2,3,4
seq2=[5,6,7,8]
seq3=[True,False,True]
table=zip(seq1,seq2,seq3)
type(table)

zip

In [100]:
list(table)

[(1, 5, True), (2, 6, False), (3, 7, True)]

In [101]:
list(table)

[]

In [108]:
table=zip(seq1,seq2,seq3) #actua como una cremallera
for i, val in enumerate(table):
    print(i,val)

0 (1, 5, True)
1 (2, 6, False)
2 (3, 7, True)

In [104]:
table=zip(seq1,seq2,seq3)
for i, (val1,val2,val3) in enumerate(table):
    print(i,val1,val2,val3)

0 1 5 True
1 2 6 False
2 3 7 True

Como podéis ver, enumerate es al fin y al cabo un 
```python
enumerate = zip(range(len(list)), list)
```
* uzip is also done with zip()

In [105]:
table=zip(seq1,seq2,seq3)
seq1,seq2,seq3=zip(*table)
list(seq1)

[1, 2, 3]

## Dicts (Diccionarios)
* dict: flexibly-sized collection of key-value pairs, where key and value are Python objects
* A more common name for it is hash map or associative array.
* creation:
    * curly braces { } and using colons : to separate keys and values
    * by using dict() method over (key, value) pairs
    * { } = empty dict
* las llamadas hash tables o associative arrays en otros lenguajes.

In [110]:
dict(key1=1,key2=2)

{'key1': 1, 'key2': 2}

In [112]:
dict((('key1',2),('key2',2)))

{'key1': 2, 'key2': 2}

In [113]:
dict([['ke1',2],['key2',2]])

{'ke1': 2, 'key2': 2}

Y por fin entendemos para qué existen las tuplas! Las keys de un diccionario tienen que ser de un tipo hasheable, lo que requiere que sea inmutable. Simplificando bastante, tienen que ser un tipo de dato que tenga una identidad única y constante, porque las entradas del diccionario no pueden estar saltando de un lado a otro. Podéis leer más [aquí](http://effbot.org/pyfaq/why-must-dictionary-keys-be-immutable.htm).

In [115]:
values=(1,2,3,4)
keys=('a','b','c')
dict(zip(keys,values))

{'a': 1, 'b': 2, 'c': 3}

In [116]:
{'a':2,'keyB':3}

{'a': 2, 'keyB': 3}

* Elements can be accessed , inserted or set using the same syntax as accessing elements of a list or tuple

In [133]:
d1={'a':'some value','b':[1,2,3,4]}
d1['St']='Split'
d1[4]='integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'St': 'Split', 4: 'integer'}

In [134]:
del d1['a']
d1

{'b': [1, 2, 3, 4], 'St': 'Split', 4: 'integer'}

In [135]:
a=d1.pop('St')
d1

{'b': [1, 2, 3, 4], 4: 'integer'}

* clear() = Remove all items from dict
* get(S, V) = search for S, and return V if you don’t find it
* keys() = lists of the keys
* values() = lists of the values
* update(D) = merged into and overwrite if key already exists

In [136]:
d1={'a':'some value','b':[1,2,3,4]}
d1.get('Spu','Not inside')

'Not inside'

In [137]:
d1.keys(),d1.values()

(dict_keys(['a', 'b']), dict_values(['some value', [1, 2, 3, 4]]))

In [138]:
d2={'b':'as you see',5:'second integer'}
d1.update(d2)
d1

{'a': 'some value', 'b': 'as you see', 5: 'second integer'}

In [140]:
hundir_la_flota = {(0,0): 'agua', (0,1): 'submarino', (3,5): 'portaaviones'}
hundir_la_flota[(0,0)]

'agua'

In [143]:
hundir_la_flota.keys()

dict_keys([(0, 0), (0, 1), (3, 5)])

In [144]:
a,b,c = hundir_la_flota.keys()
a

(0, 0)

In [3]:
capitales = {'España' : 'Madrid', 'Francia' : 'Paris', 'Mongolia' : 'Ulam Wator'}
capitales['Mongolia']

'Ulam Wator'

In [4]:
for k in capitales:
    print(k)

España
Francia
Mongolia

In [5]:
for v in capitales.values():
    print(v)

Madrid
Paris
Ulam Wator

In [6]:
for k, v in capitales.items():
    print("%s es la capital de %s" % (v,k))

Madrid es la capital de España
Paris es la capital de Francia
Ulam Wator es la capital de Mongolia

In [7]:
capitales['Rusia']

KeyError: 'Rusia'

In [10]:
capitales['Rusia']='Moscu'
capitales

{'España': 'Madrid',
 'Francia': 'Paris',
 'Mongolia': 'Ulam Wator',
 'Rusia': 'Moscu'}

In [11]:
print(capitales.get('Croacia'))

None

In [12]:
capitales.get('Croacia','desconocida')

'desconocida'

* alternative to returning multiple values might be to return a dict instead:

In [17]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c': c}
return_value=f()
return_value

{'a': 5, 'b': 6, 'c': 7}

## Sets
Colección de valores únicos. Podemos intersecarlos, unirlos...
* set: unordered collection of unique elements (like dicts, but keys only, no values)
* like dicts, but keys only, no values
    * creation:
    * curly braces { } (no colons inside as no keys are present)
    * by using set() method 
    * set()= empty set
          set({ })= set({[ ])=set(())=set()

In [19]:
one_set = {2,3,4,4,6,7,2,8,2,9,8,7,7}
one_set

{2, 3, 4, 6, 7, 8, 9}

In [20]:
another_set = {7,8,9,5,12,31}
another_set

{5, 7, 8, 9, 12, 31}

* support mathematical operations like:
    * a.union(b) = a | b 
    * a.intersection(b) = a & b 
    * a.difference(b) = a - b 
    * a.symmetric_difference(b) = a ^ b

In [21]:
one_set.union(another_set)

{2, 3, 4, 5, 6, 7, 8, 9, 12, 31}

In [22]:
one_set.intersection(another_set)

{7, 8, 9}

In [23]:
one_set.difference(another_set)

{2, 3, 4, 6}

In [24]:
one_set.symmetric_difference(another_set)

{2, 3, 4, 5, 6, 12, 31}

varias de estas operaciones están también representadas por los bitwise boolean operators: &(and), |(or), ^(xor)

In [25]:
one_set & another_set

{7, 8, 9}

In [26]:
one_set | another_set

{2, 3, 4, 5, 6, 7, 8, 9, 12, 31}

In [28]:
one_set - another_set

{2, 3, 4, 6}

In [27]:
one_set ^ another_set

{2, 3, 4, 5, 6, 12, 31}

Aprovecho para representaros el otro: ~(not). En este contexto no tiene sentido pero pronto lo usaremos
* You can also check if a set is a subset of (is contained in) or a superset of (contains all elements of) another set:
* sets are equal if their contents are equal

In [29]:
a_set = {1,2,3,4,5}

In [30]:
{3,2,1}.issubset(a_set)

True

In [31]:
a_set.issuperset({2,1,3})

True

In [33]:
{1,2,3} == {3,2,1}

True

## Comprehensions
* List comprehensions allow to concisely form a new list by filtering the elements of a collection and transforming the elements passing the filter in one concise expression.
    * [expr for val in collection if condition] = 
        
        result = [ ]
        
        for val in collection:
                
            if condition: 
                       
                result.append(expr)

In [35]:
strings=['a','as','bat','car','dove','python']
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

* Dict and set comprehensions:
    
    dict_comp = {key-expr : value-expr for value in collection if condition}
    
    set_comp = {expr for value in collection if condition}

In [36]:
unique_lenghts = {len(x) for x in strings}
unique_lenghts

{1, 2, 3, 4, 6}

In [37]:
loc_mapping = {val: index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [39]:
loc_mapping2 = dict((val,idx) for idx, val in enumerate(strings))
loc_mapping2

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

* nested list comprehensions are a bit hard to wrap your head around.
* The for parts of the list comprehension are arranged according to the order of nesting,
* filter condition is put at the end as before.
* example where we “flatten” a list of tuples of integers into a simple list of integers:

In [40]:
some_tuples = [(1,2,3),(4,5,6),(7,8,9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
flattened2 = []
for tup in some_tuples:
    for x in tup:
        flattened2.append(x)
flattened2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

* Keep in mind that the order of the for expressions would be the same if you wrote a nested for loop instead of a list comprehension